<!-- <form (ngSubmit)="onCreateTask()">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" [(ngModel)]="task.name" required>
    
    <label for="description">Description:</label>
    <textarea id="description" name="description" [(ngModel)]="task.description" required></textarea>
    
    <label for="priority">Priority:</label>
    <input type="text" id="priority" name="priority" [(ngModel)]="task.priority" required>
    
    <label for="assignedTo">Assigned To:</label>
    <input type="text" id="assignedTo" name="assignedTo" [(ngModel)]="task.assignedTo" required>
    
    <label for="status">Status:</label>
    <input type="text" id="status" name="status" [(ngModel)]="task.status" required>
  
    <button type="submit">Create Task</button>
  </form>
   -->